Data Types and Structures Questions

Q1. What are data structures, and why are they important?
Ans1 A data structure is a way of organizing, storing, and managing data in a computer so it can be used efficiently.
Data Structure are important due to their scalabilty,efficiency,Problem Solving

Q2. Explain the difference between mutable and immutable data types with examples?
Ans2 Mutable Data Types->Objects whose values can be changed/modified after creation. Ex-> List,Set,Dictionary
Immutable Data Types->Objects whose values cannot be changed after creation.
eg->String,Tuple

Q3.What are the main differences between lists and tuples in Python?
An3 Lists are mutable, meaning their elements can be changed, added, or removed.
Tuples are immutable, meaning once created, their elements cannot be modified.

Q4.Describe how dictionaries store data?
Ans4 A dictionary stores data in the form of key–value pairs.Internally, Python dictionaries use a hash table.
my_dict = {"name": "Aarsh", "age": 22}

Q5.Why might you use a set instead of a list in Python?
Ans5 A set automatically removes duplicate elements, while a list can contain duplicates.
"e.g"
my_list = [1, 2, 2, 3]
my_set = {1, 2, 2, 3}
print(my_list)  # [1, 2, 2, 3]
print(my_set)   # {1, 2, 3}

Q6.What is a string in Python, and how is it different from a list?
Ans6 A string is a special kind of sequence (only characters, immutable), while a list is a general-purpose sequence (any data type, mutable).

Q7.How do tuples ensure data integrity in Python?
Ans7 Once a tuple is created, its elements cannot be modified, added, or removed.This protects the data from accidental changes.
e.g
my_tuple = (10, 20, 30)
# my_tuple[0] = 99 # it will give an error

Q8.What is a hash table, and how does it relate to dictionaries in Python?
Ans8 A hash table is a data structure that stores data in key–value pairs.
It uses a hash function to convert a key into a unique number (hash value), which decides where the value is stored in memory.

Q9.Can lists contain different data types in Python?
Ans9 In Python, lists can contain elements of different data types because Python lists are heterogeneous containers.
my_list = [10, "Hello", 3.14, True, [1, 2], (5, 6),3+6j]
print(my_list)

Q10. Explain why strings are immutable in Python?
Ans10 By making them immutable, Python can safely reuse the same string object in memory instead of creating duplicates

a = "hello"
b = "hello"
print(a is b)

Q11.What advantages do dictionaries offer over lists for certain tasks?
Ans11 Data stored in dictionaries is self-describing (keys explain the values).
and more meaningful data organization.

Q12.Describe a scenario where using a tuple would be preferable over a list?
Ans12.Use a tuple when you want data that should not change (immutability = data integrity).This helps us from the accidental change. mainly we can use it for the fixed location.

Q13.How do sets handle duplicate values in Python?
Ans13 A set in Python is a collection of unique, unordered elements.
If you try to insert a duplicate value, the set ignores it automatically (keeps only one copy).

Q14. How does the “in” keyword work differently for lists and dictionaries?
Ans14 For list in checks if a value exists as an element inside the list.
nums = [10, 20, 30]
print(20 in nums)   # (20 is an element)
print(50 in nums)

 For dictionary in checks only for keys, not values.
 student = {"name": "Aarsh", "age": 22}
 print("name" in student)

Q15.Can you modify the elements of a tuple? Explain why or why not?
Ans15 No, you cannot modify the elements of a tuple once it is created.
Tuples in Python are immutable → their contents cannot be changed (no adding, removing, or updating elements).
This ensures data integrity and makes them safe for fixed collections

Q16.What is a nested dictionary, and give an example of its use case?
Ans16 A nested dictionary is a dictionary inside another dictionary.

student={
  "name":"Aarsh"
  "orange":{"roll_no":101, "class":"8th"}
}
print(student["orange"]["class"])

Q17.Describe the time complexity of accessing elements in a dictionary?
Ans17.Accessing elements in a dictionary is O(1) on average, but in rare collision-heavy cases, it can degrade to O(n).

Q18.In what situations are lists preferred over dictionaries?
Ans18.lists when you need ordered, index-based, or duplicate-friendly collections. Use dictionaries when you need fast lookups with key–value mapping.

Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans19. Dictionaries are “unordered” because data is placed by hash values, not indexes.This means you can reliably retrieve values by keys, but you cannot access them by position like in a list.

student = {"id": 101, "name": "Aarsh"}
print(student["name"])   # works
# print(student[0])  # it gave an error

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
Ans20 Lists ->retrieve data by position (index).
Dictionaries -> retrieve data by key (meaningful identifier).

Practical Questions

In [1]:
#Q1 Write a code to create a string with your name and print it?

name="Aarsh"
print("My name is:",name)

My name is: Aarsh

In [5]:
#Q2 Write a code to find the length of the string "Hello World"?

s="Hello World"
print(len(s))

11

In [9]:
#Q3.Write a code to slice the first 3 characters from the string "Python Programming"?

a="Python Programming"
text=a[:3]
print(text)

Pyt

In [10]:
#Q4.Write a code to convert the string "hello" to uppercase?

text="hello"
print(text.upper())

HELLO

In [11]:
#Q5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"?

text="I like apple"
new_text=text.replace("apple","orange")
print(new_text)

I like orange

In [12]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it?

list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [13]:
#Q7.Write a code to append the number 10 to the list [1, 2, 3, 4]?

list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [14]:
#Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [15]:
#Q9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

list=['a','b','c','d']
print(list[1])

b

In [16]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50]?

list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [18]:
# Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it

tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [24]:
# Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple=('red','green','blue','yellow')
print(tuple[-2])
#

blue

In [27]:
# Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple=(10,20,5,15)
print(min(tuple))

5

In [28]:
#Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

tuple=('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [29]:
#Q15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

tuple=("apple","banana","kiwi")
print("kiwi" in tuple)

True

In [30]:
#Q16.Write a code to create a set with the elements 'a', 'b', 'c' and print it?

set={"a","b","c"}
print(set)

{'c', 'b', 'a'}

In [31]:
# Q17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set={1,2,3,4,5}
set.clear()
print(set)

set()

In [32]:
#Q18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.


set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [33]:
#Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1={1,2,3}
set2={3,4,5}
x=set1.union(set2)
print(x)

{1, 2, 3, 4, 5}

In [34]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1={1,2,3}
set2={2,3,4}
x=set1.intersection(set2)
print(x)

{2, 3}

In [35]:
#Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dic={"name":"Aarsh","age":22,"city":"Jaipur"}
print(dic)

{'name': 'Aarsh', 'age': 22, 'city': 'Jaipur'}

In [36]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dic={'name': 'John', 'age': 25}

dic["country"]="USA"
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
#Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dic={'name': 'Alice', 'age': 30}
print(dic["name"])

Alice

In [40]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dic={'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop("age")
print(dic)

{'name': 'Bob', 'city': 'New York'}

In [44]:
#Q25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dic={'name': 'Alice', 'city': 'Paris'}
print('city' in dic)

True

In [45]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all?

list=[1,2,3]
print(list)

tuple=(1,2,3)
print(tuple)

dic={"name":"Aarsh","age":22,"city":"Jaipur"}
print(dic)

[1, 2, 3]
(1, 2, 3)
{'name': 'Aarsh', 'age': 22, 'city': 'Jaipur'}

In [47]:
#Q27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
list=[]

for i in range(5):
  list.append(random.randint(1,100))
  list.sort()
print("Sorted_list",list)

Sorted_list [28, 58, 71, 93, 98]

In [48]:
#Q28.Write a code to create a list with strings and print the element at the third index?

list=["a","b","c","d"]
print(list[3])

d

In [50]:
#Q29. Write a code to combine two dictionaries into one and print the result.

dic1={'name': 'Aarsh', 'age': 30}
dic2={'name': 'Rahul', 'age': 22, 'city': 'New York'}

combined={**dic1,**dic2}
print(combined)

{'name': 'Rahul', 'age': 22, 'city': 'New York'}

In [ ]:
#Q30.Write a code to convert a list of strings into a set.

list=["a","b","c","d"]
x=set(list)
print(x)